# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/ASPNetCoreVue.Web.Host/App_Data/Logs/
aspnet-core/src/ASPNetCoreVue.Web.Mvc/App_Data/Logs/
aspnet-core/src/ASPNetCoreVue.Migrator/Logs/Logs.txt
# aspnet-core/src/ASPNetCoreVue.Web.Host/appsettings.json

node_modules/
vue-app/node_modules/
vue/